body {
  background-color: #fbede1;
}

.root {
  background-color: transparent;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  max-width: 144rem;
}

#first-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32rem;
}

#connecting-text {
  font: 1.2rem 'Homemade Apple';
  color: #a46c56;
}

#first-section-container h1 {
  margin-top: 2rem;
  font: 3.6rem 'Rozha One';
  text-align: center;
  line-height: 4rem;
  color: #2a4e69;
}

#booking-text {
  font: 1.4rem 'Lato';
  color: #434343;
  margin-top: 1.2rem;
}

.intro-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2.4rem;
}

.intro-button-container a {
  width: 14rem;
  height: 6.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  background: #143f60;
  color: white;
  font: 2rem 'Lato';
  border-radius: 0.9rem;
}

.intro-button-container a + a {
  margin-left: 1.2rem;
  background: transparent;
  color: #143f60;
  border: 0.3rem solid #143f60;
  box-sizing: border-box;
}

#about-social-container {
  margin-top: 2rem;
}

#about-social-container img + img {
  margin-left: 1.6rem;
}

.wave-bg {
  position: absolute;
  top: 65rem;
  width: 100vw;
  height: 75rem;
  background: url('../Wave.png') no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

.about-us-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-container section {
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  width: 100%;
  max-width: 144rem;
  color: #fbede1;
}

.about-us-container section h1 {
  font: 4.5rem 'Rozha One';
  line-height: 4rem;
  white-space: nowrap;
  text-align: center;
}

.about-us-container section span {
  font: 20px 'Lato';
  text-align: center;
  padding-right: 2rem;
  margin: 2.6rem 0;
}

#store-list-container {
  margin-top: 2.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#store-list {
  flex-direction: column;
}

#join-community-text-container {
  margin-top: 1.2rem;
  align-items: center;
  color: #234461;
}
#join-community-text-container h1 {
  font: 4rem 'Homemade Apple';
  line-height: 4rem;
}
#join-community-text-container h2 {
  font: 3rem 'Lato';
}

#store-list-container a {
  cursor: pointer;
}

#store-button-container {
  flex-direction: column-reverse;
}

#create-text-container {
  width: 100%;
  max-width: 144rem;
  padding: 0 3rem;
}
#create-text-container h1 {
  height: 23.2rem;
  font: 4rem 'Rozha One';
  border-left: 0.3rem solid #143f60;
  padding-left: 1.2rem;
  margin-top: 6rem;
  color: #143f60;
}

.pill-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.pill-container-left {
  justify-content: flex-start;
}

.pill {
  display: flex;
  width: 80%;
  max-width: 110rem;
  height: 100%;
  background: #d3c3b8;
  border-radius: 18rem 0 0 18rem;
  padding: 1.2rem 0 1.2rem 2.4rem;
}

.pill-left {
  border-radius: 0 18rem 18rem 0;
}

.pill h2 {
  font: 2rem 'Homemade Apple';
  color: white;
}

.pill-container-left h2 {
  width: 100%;
  padding-right: 4rem;
  text-align: end;
}
.experts-topics-container {
  width: 95%;
  max-width: 100rem;
}

.experts-topics-container ul {
  flex-direction: column;
}

.experts-topics-container ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  margin: 4.2rem;
}

.experts-topics-container li a {
  margin: 4.3rem 0 2.5rem;
  width: 13rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a46c56;
  border-radius: 50%;
  border-radius: 18rem;
  color: white;
  font: 1.9rem 'Lato';
}

.experts-topics-container li p {
  text-align: center;
  font: 2rem 'Lato';
  color: #353535;
}

#orange-container {
  width: 100%;
  background: #ffd9ca;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12.3rem;
}

.patient-and-practitioner-container {
  width: 100%;
  max-width: 144rem;
  padding: 8rem 4.4rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.patient-and-practitioner-container img {
  margin: 2rem 10rem;
  width: 18rem;
}

.patient-and-practitioner-container section h1 {
  font: 2.5rem 'Rozha One';
  color: #fea17a;
  text-align: center;
}
.patient-and-practitioner-container section p {
  font: 2rem 'Lato';
  margin: 3.9rem 0;
  text-align: center;
}

@media (min-width: 900px) {
  #first-section-container {
    margin-top: 10rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .about-image-container {
    margin: 0 10rem;
  }

  .about-image-container img {
    margin-top: -10rem;
    width: 100%;
    max-width: 360px;
    height: 100%;
  }

  .about-text-container {
    width: 40rem;
    font-size: 2rem;
    justify-content: flex-end;
    text-align: end;
  }

  #connecting-text {
    font-size: 2rem;
    white-space: nowrap;
  }

  #first-section-container h1 {
    font-size: 5rem;
    text-align: end;
  }

  #booking-text {
    font-size: 2rem;
  }

  #about-social-container {
    display: none;
  }

  .wave-bg {
    top: 52rem;
    height: 100rem;
  }

  .about-us-container {
    margin-top: 11rem;
  }

  .about-us-container section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 144rem;
  }

  .about-us-container section h1 {
    font-size: 6.5rem;
    max-width: 20rem;
    white-space: pre-line;
    text-align: end;
    line-height: 4.5rem;
  }

  .about-us-container section span {
    margin-top: 8rem;
    max-width: 79rem;
    text-align: justify;
    margin-left: 3.4rem;
  }

  #store-list {
    flex-direction: row;
  }

  #store-button-container {
    flex-direction: column;
  }

  #create-text-container {
    margin-top: 20rem;
  }

  .experts-topics-container ul {
    flex-direction: row;
    padding: 0 2rem;
  }
  .experts-topics-container ul li {
    width: 16rem;
  }

  .experts-topics-container ul li img {
    width: 22.2rem;
    height: 13rem;
  }

  .patient-and-practitioner-container {
    flex-direction: row;
  }

  .patient-and-practitioner-container img {
    width: 200%;
    height: 200% ;
    max-width: 53rem;
    max-height: 57rem;
  }        
}
