body {
  background-color: #fbede1;
}

.root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title-image-container {
  display: flex;
  width: 100%;
  max-width: 144rem;
  flex-direction: column;
  align-items: center;
}

#title {
  font: 3.5rem 'Playfair Display', serif;
  color: #2d4b68;
  font-weight: 700;
  margin-top: 4rem;
}

#main-image {
  width: 70%;
  max-width: 62rem;
}

main {
  margin-top: 4rem;
}

.image-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 144rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  padding: 0 2rem 10rem;
}

.grid-container h1 {
  font: 3rem 'Rozha one';
  color: #fea17a;
  transform-origin: 0 0;
  writing-mode: sideways-lr;
  text-align: center;
}

.grid-container section p {
  font: 1.5rem 'Lato';
  color: #5f5e5c;
}

.grid-container img {
  width: 112px;
  height: 248px;
  margin: 0 2rem;
}

.grid-container section {
  display: flex;
  flex-direction: row;
}

.grid-container section p {
  margin-left: 2rem;
  max-width: 9rem;
}

#diagnose-section-container {
  display: flex;
  flex-direction: row-reverse;
}

#diagnose-section-container p {
  text-align: right;
}

@media (min-width: 900px) {
  #title {
    font-size: 4.8rem;
  }

  .image-section-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    margin-top: -20rem;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-container img {
    width: 167px;
    height: 362px;
  }

  .grid-container h1 {
    font-size: 4rem;
    writing-mode: horizontal-tb;
    white-space: normal;
    height: 11.9rem;
    max-width: 19.4rem;
  }

  .grid-container section {
    flex-direction: column;
  }

  .grid-container section img {
  }

  .grid-container section p {
    font-size: 2.4rem;
    margin: 26.2rem 0 0;
    max-width: 28rem;
  }

  #diagnose-grid-container {
    margin-top: 20rem;
  }

  #diagnose-section-container {
    flex-direction: column;
  }

  #diagnose-section-container p {
    margin-top: 6rem;
    text-align: left;
  }
}
